header.title h4{
    font-size: .25rem;
    margin: 7.3% 0 4.5% 3.7%;
}
main.inf ul li img{
    width: .6rem;
    height: .6rem;

}
main.inf ul li{
    width: .6rem;
   
    text-align: center;
    margin: 0 15.2% 0 0;
}
main.inf ul li.area

{
    margin-left: 10.7%;
}
main.inf ul li.building{
    margin-right: 10.7%;
}



main.inf ul li span{
    font-size: .14rem;
    margin-top: -0.2rem;
}
