.addAreaContent ul li .left img {
    margin: .16rem .05rem 0 0
}

.addAreaContent ul li .left {
    width: 1.2rem;
}

.addAreaContent ul li .right {
    width: auto;
    height: 100%;
}

.addAreaContent ul li .right span.number {
    font-size: .15rem;
    color: #323232;
    margin-right: .0800000000000001rem;
}

.MT {
    margin-top: .15rem;
}

.addAreaContent ul li.line {
    width: 100%;
    height: .1rem;
    background: #F1F2F5;
}

.addAreaContent ul li.addPersonal .left img,
.addAreaContent ul li.levelThree .left img {
    width: .12rem;
    height: .12rem;
    margin-right: 0.05rem;
    margin-top: .15rem;
}

.addAreaContent ul li .left {
    width: auto;
}

.addAreaContent ul li.addPersonal .left span.job {
    font-size: .15rem;
    color: #323232;
}

.addAreaContent ul li.addPersonal .left img {
    position: relative;
}



.addAreaContent ul li.addPersonal .left::before {
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    width: .29rem;
    height: .01rem;
    border-bottom: .01rem dashed #EB6B2F;
}
.addAreaContent ul li.levelThree .left::before{
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 16%;
    width: .29rem;
    height: .01rem;
    border-bottom: .01rem dashed #36A896;  
}

.addAreaContent ul li.addPersonal:after {
    left: .44rem;
}

.addAreaContent ul li.levelThree:after {
    left: .8rem;
}


.stair {
    margin-left: 0.25rem !important;
}
.levThree{
    margin-left: 0.79rem !important;
}

.addAreaContent ul li.addPersonal::before {
    top: -44%;
    left: 6.8%;
    border-left: .01rem dashed #EB6B2F;
}
.addAreaContent ul li.addPersonal::before,
.addAreaContent ul li.levelThree::before{
    position: absolute;
    content: '';
    display: block;
    width: .01rem;
    height: .42rem;
}


.addAreaContent ul li.levelThree::before {
    top: -44%;
    left: 15.8%;
    border-left: .01rem dashed #36A896;
}
.addAreaContent ul li span.job {
    font-size: .15rem;
    color: #323232;
}